.cursor-pointer {
  cursor: pointer; }

.notes {
  font-style: italic;
  font-size: 14px; }

.form-wrapper label {
  margin-bottom: 0; }

.form-wrapper .field-wrapper, .form-wrapper .nested {
  padding: 10px;
  border: 1px solid #d3d3d3;
  margin-top: 5px; }

.form-field-attributes {
  margin-left: 20px; }

.nested {
  border: 1px solid #000 !important;
  border-radius: 4px; }

.radio-group {
  font-size: 18px; }
  .radio-group input {
    height: 18px;
    width: 15px; }

.group {
  background: #d5d2d2;
  padding: 10px; }

.group-1, textarea[id="json"] {
  background: #908d8d; }

.group-2 {
  background: #fff; }

.btn-groups > * {
  width: 100%;
  margin-top: 10px;
  font-size: 21px; }
  @media (min-width: 320px) {
    .btn-groups > * {
      width: unset;
      font-size: 18px; } }

.btn-groups .btn-2 {
  margin-left: 0; }
  @media (min-width: 320px) {
    .btn-groups .btn-2 {
      margin-left: 10px; } }

textarea[id="json"] {
  resize: unset; }
  textarea[id="json"]:focus {
    outline: 0; }

.form-group.nested {
  min-height: 113px; }
