* {
  box-sizing: border-box; }

.inline-group {
  display: flex; }

.acf-field-hidden {
  visibility: hidden;
  border: none; }

.acf-field-display,
.acf-hidden {
  display: none; }

.acf-form-group:last-child {
  margin-bottom: 0; }

.acf-form-field {
  max-width: 220px;
  max-height: 60px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black; }
  .acf-form-field label {
    font-size: 16px;
    font-weight: bold; }
  .acf-form-field input:not([type="radio"]):not([type="checkbox"]),
  .acf-form-field select {
    width: 100%; }

.acf-dropdown,
.acf-radio,
.acf-checkbox {
  display: block; }
  .acf-dropdown label,
  .acf-radio label,
  .acf-checkbox label {
    display: block; }

.acf-radio,
.acf-checkbox {
  min-width: 100px; }
  .acf-radio span,
  .acf-checkbox span {
    position: relative;
    margin-right: 10px; }
    .acf-radio span:last-child,
    .acf-checkbox span:last-child {
      margin-right: 0; }
    .acf-radio span label,
    .acf-checkbox span label {
      display: inline;
      margin-right: 3px;
      font-weight: normal; }
    .acf-radio span input,
    .acf-checkbox span input {
      height: 15px;
      width: 15px; }
