@import '../scss/all';

.form-wrapper {

    label {
        margin-bottom: 0;
    }

    .field-wrapper {
        padding: 10px;
        border: 1px solid  $color-alto;
        margin-top: 5px;
    }
}

.form-field-attributes {
    margin-left: 20px;
}

.nested {
    @extend .field-wrapper;
    border: 1px solid #000 !important;
    border-radius: 4px;
    //  box-shadow: 0 0 2px rgba(0,0,0,0.5)
}

.radio-group {
    font-size: 18px;

    input {
        height: 18px;
        width: 15px;
    }
}

.group {
    background: #d5d2d2;
    padding: 10px;
}

.group-1 {
    background: #908d8d;
}

.group-2 {
    background: #fff;
}

.btn-groups {

    > * {
        width: 100%;
        margin-top: 10px;
        font-size: 21px;

        @media (min-width: 320px) {
            width: unset;
            font-size: 18px;
        }
    }

    .btn-2 {
        margin-left: 0;

        @media (min-width: 320px) {
            margin-left: 10px;
        }
    }
}

textarea[id="json"] {
    resize: unset;
    @extend .group-1;
    
    &:focus {
        outline: 0;
    }
}

.form-group.nested {
    min-height: 113px;
}