* {
  box-sizing: border-box;
}

.inline-group {
  display: flex;
}


.acf-field-hidden {
  visibility: hidden;
  border: none;
}

.acf-field-display,
.acf-hidden {
  display: none;
}

.acf-form-group {
  &:last-child {
    margin-bottom: 0;
  }
}

.acf-form-field {
  max-width: 220px;
  max-height: 60px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;

  label {
    font-size: 16px;
    font-weight: bold;
  }

  input:not([type="radio"]):not([type="checkbox"]),
  select {
    width: 100%;
  }
}

.acf-dropdown,
.acf-radio,
.acf-checkbox {
  display: block;

  label {
    display: block;
  }
}

.acf-radio,
.acf-checkbox {
  min-width: 100px;

  & span {
    position: relative;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    & label {
      display: inline;
      margin-right: 3px;
      font-weight: normal;
    }

    & input {
      height: 15px;
      width: 15px;
    }
  }
  
}